@model ProductDetailPageVM
@{
    ViewData["Title"] = "Index";
}

@section Links{
    <link rel="stylesheet" href="~/css/product-details.css">
}

<section class="single-banner inner-section" style="background: url(images/single-banner.jpg) no-repeat center;">
    <div class="container">
        <h2>product</h2>
    </div>
</section>

<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="details-gallery">
                    <div class="details-label-group">
                        <label class="details-label new">new</label>
                        @if(Model.Product.Discount.Percent != 0)
                        {
                            <label class="details-label off">-@Model.Product.Discount.Percent%</label>
                        }
                    </div>
                    <ul class="details-preview">
                        @foreach (var item in Model.Product.Images)
                        {
                            <li><img src="~/images/product/@item.Image" alt="product"></li>
                        }
                    </ul>
                    <ul class="details-thumb">
                        @foreach (var item in Model.Product.Images)
                        {
                            <li><img src="~/images/product/@item.Image" alt="product"></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="details-content">
                    <h3 class="details-name"><a href="#">@Model.Product.Name</a></h3>
                    <div class="details-meta">
                        <p>SKU:<span>@Model.Product.SKU</span></p>
                        <p>BRAND:<a href="#">@Model.Product.Brand.Name</a></p>
                    </div>
                    <div class="details-rating">
                        @for (int i = 1; i <= Model.Product.Rating.RatingCount; i++)
                        {
                            <i class="active icofont-star"></i>
                        }
                        @for (int i = 0; i < (5-Model.Product.Rating.RatingCount); i++)
                        {
                            <i class="icofont-star"></i>
                        }
                        <a href="#">(@Model.Product.Reviews.Count reviews)</a>
                    </div>
                    <h3 class="details-price">
                        @if (Model.Product.Discount.Percent != 0)
                        {
                            <del>$@Model.Product.Price</del>

                            <span>$@(Model.Product.Price * (100 - Model.Product.Discount.Percent) / 100)<small>/piece</small></span>
                        }
                        else
                        {
                            <span>$@Model.Product.Price<small>/piece</small></span>
                        }
                    </h3>
                    <p class="details-desc">@Model.Product.Description</p>
                    <div class="details-list-group">
                        <label class="details-list-title">tags:</label>
                        <ul class="details-tag-list">
                            @foreach (var item in Model.Product.ProductTags)
                            {
                                <li><a href="#">@item.Tag.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="details-list-group">
                        <label class="details-list-title">Share:</label>
                        <ul class="details-share-list">
                            <li><a href="#" class="icofont-facebook" title="Facebook"></a></li>
                            <li><a href="#" class="icofont-twitter" title="Twitter"></a></li>
                            <li><a href="#" class="icofont-linkedin" title="Linkedin"></a></li>
                            <li><a href="#" class="icofont-instagram" title="Instagram"></a></li>
                        </ul>
                    </div>
                    <div class="details-add-group">
                        <button class="product-add" title="Add to Cart">
                            <i class="fas fa-shopping-basket"></i><span>add to cart</span>
                        </button>
                        <div class="product-action">
                            <button class="action-minus" title="Quantity Minus">
                                <i class="icofont-minus"></i>
                            </button><input class="action-input"
                                            title="Quantity Number" type="text" name="quantity" value="1"><button class="action-plus" title="Quantity Plus">
                                <i class="icofont-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="details-action-group">
                        <a class="details-wish wish" href="#"
                           title="Add Your Wishlist"><i class="icofont-heart"></i><span>add to wish</span></a><a class="details-compare" href="compare.html" title="Compare This Item">
                            <i class="fas fa-random"></i><span>Compare This</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs">
                    <li><a href="#tab-spec" class="tab-link" data-bs-toggle="tab">Specifications</a></li>
                    <li><a href="#tab-reve" class="tab-link" data-bs-toggle="tab">reviews (@Model.Product.Reviews.Count)</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-pane fade show active" id="tab-spec">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-details-frame">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row">Product code</th>
                                    <td>SKU: @Model.Product.SKU</td>
                                </tr>
                                <tr>
                                    <th scope="row">Weight</th>
                                    <td>1kg, 2kg</td>
                                </tr>
                                <tr>
                                    <th scope="row">Styles</th>
                                    <td>@@Girly</td>
                                </tr>
                                <tr>
                                    <th scope="row">Properties</th>
                                    <td>Short Dress</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-reve">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-details-frame">
                        <h3 class="frame-title">add your review</h3>
                        <form class="review-form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="star-rating">
                                        <input type="radio" name="rating" id="star-1"><label for="star-1"></label>
                                        <input type="radio" name="rating" id="star-2"><label for="star-2"></label>
                                        <input type="radio" name="rating" id="star-3"><label for="star-3"></label>
                                        <input type="radio" name="rating" id="star-4"><label for="star-4"></label>
                                        <input type="radio" name="rating" id="star-5"><label for="star-5"></label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Describe"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button class="btn btn-inline">
                                        <i class="icofont-water-drop"></i><span>drop your review</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-heading">
                    <h2>related this items</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            @foreach(var item in Model.RelatedProducts)
            {
                <div class="col">
                    <div class="product-card">
                        <div class="product-media">
                            <div class="product-label"><label class="label-text sale">sale</label></div><button class="product-wish wish">
                                <i class="fas fa-heart"></i>
                            </button>
                            <a class="product-image" asp-action="Index" asp-route-id="@item.Id">
                                <img src="~/images/product/@item.Images.FirstOrDefault(m=>m.IsMain).Image" alt="product">
                            </a>
                            <div class="product-widget">
                                <a title="Product Compare" href="#" class="fas fa-random"></a>
                                <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-rating">
                                @for (int i = 0; i < item.Rating.RatingCount; i++)
                                {
                                    <i class="active icofont-star"></i>
                                }
                                @for (int i = 0; i < (5 - item.Rating.RatingCount); i++)
                                {
                                    <i class="icofont-star"></i>
                                }
                                <a href="#">(@item.Rating.RatingCount)</a>
                            </div>
                            <h6 class="product-name">
                                <a href="#">@item.Name</a>
                            </h6>
                            <h6 class="product-price">
                                @if (item.Discount.Percent != 0)
                                {
                                    <del>$@item.Price</del>

                                    <span>$@(item.Price * (100 - item.Discount.Percent) / 100)<small>/piece</small></span>
                                }
                                else
                                {
                                    <span>$@item.Price<small>/piece</small></span>
                                }
                            </h6>
                            <button class="product-add" title="Add to Cart">
                                <i class="fas fa-shopping-basket"></i>
                                <span>add</span>
                            </button>
                            <div class="product-action">
                                <button class="action-minus" title="Quantity Minus">
                                    <i class="icofont-minus"></i>
                                </button>
                                <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1"><button class="action-plus" title="Quantity Plus">
                                    <i class="icofont-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>